mixin initial()
	| { "name": "just-a-demo",
	|   "version": "0.1.2",
	|   "description": "blahblahblah",
	|   "main": "test.js",
	|   "scripts": { "test": "echo \"Error: no test specified\" && exit 1" },
	|   "author": "John Doe <whoever@google.com>",
	|   "license": "BSD-2-Clause" }

mixin navigation(active)
	nav.navbar.navbar-default(role='navigation')
		.container-fluid
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					li(class= active === 'index' ? 'active' : '')
						a(href='index.html') Home
					li(class= active === 'readme' ? 'active' : '')
						a(href='readme.html') Readme
					li(class= active === 'editor' ? 'active' : '')
						a(href='editor.html') Demo - Editor
					li(class= active === 'tokenizer' ? 'active' : '')
						a(href='tokenizer.html') Demo - Tokenizer

doctype html
html
	head
		//link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		style.
			textarea { font-family: monospace; }
			tr.data:hover { cursor: pointer }
			.forkme { position: absolute; top: 0; right: 0; border: 0; z-index: 1 }
		block scripts
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
			script(src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
			script(src='jju.js')
	body
		a(href='https://github.com/rlidwka/jju')
			img.forkme(src='https://github-camo.global.ssl.fastly.net/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67' alt='Fork me on GitHub' data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png')
		block body
