extends layout

block append scripts
	script.
		var jju = require('jju')

		$(function() {
			on_textarea_update()
			$('textarea').keyup(function() {
				setTimeout(on_textarea_update, 1)
			})
		})

		$.fn.selectRange = function(start, end) {
			return this.each(function() {
				if (this.setSelectionRange) {
					this.focus()
					this.setSelectionRange(start, end)
				} else if (this.createTextRange) {
					var range = this.createTextRange()
					range.collapse(true)
					range.moveEnd('character', end)
					range.moveStart('character', start)
					range.select()
				}
			})
		}

		function on_textarea_update() {
			try {
				var tokens = jju.tokenize($('textarea').val())
			} catch(err) {
				return console.log(err)
			}

			function tr(html) {
				return '<tr class="data">' + html + '</tr>'
			}

			function td(text) {
				var node = $('<td>')
				node.text(text)
				return node[0].outerHTML
			}

			$('#tokens .data').remove()

			var position = 0
			for (var i=0; i<tokens.length; i++) {
				var row = $(tr(
					td(position) +
					td(tokens[i].type) +
					td(tokens[i].value) +
					td(tokens[i].raw) +
					td(tokens[i].stack)
				))
				$('#tokens').append(row)

				!function(start, end) {
					row.click(function() {
						$('textarea').selectRange(start, end)
					})
				}(position, position + tokens[i].raw.length)

				position += tokens[i].raw.length
			}
		}
	body
		+navigation('tokenizer')
		.container
			.row
				.col-md-6
					table.table.table-hover.table-condensed#tokens()
						tr
							th Pos
							th Type
							th Value
							th Raw
							th Stack

				.col-md-6
					form(role='form')
						.form-group
							.col-sm-12
								label.control-label(for='textarea') Copy-paste your package.json here:
							.col-sm-12
								textarea#textarea.form-control(rows=20, autofocus)
									+initial()
